.offer-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
  .card {
    padding: 0.5rem;
  }
}

.accept {
  background-color: #489d97;
}
.decline {
  background-color: #DB4437;
}

.accept,
.decline {
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}
