.avatar {
  width: 100px;
}
.user-container {
  display: flex;
  align-items: center;
  margin: 33px;
}
.userinfo {
  margin-left: 1rem;
}
.info-list {
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  li {
    margin: 3px;
  }
}
