<div *ngIf="user; else loading" class="user-container">
  <div class="flex center column"><img src="../../../assets/images/user.png" class="avatar">
    <li>{{user.username}}</li>
  </div>
  <div class="userinfo">
    <ul class="info-list">
      <li>Имя: {{user.name}}</li>
      <li>{{user.email}}</li>
      <li>{{user.city}}</li>
      <li>{{user.university}}</li>
      <li>{{user.faculty}}</li>
      <li>Money: {{user.webMoneyAccount}}</li>
    </ul>
    <button mat-raised-button class="button" (click)="openDialog()">Edit</button>
  </div>
</div>

<ng-template #loading><app-loader></app-loader></ng-template>
