.welcome-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  padding: 10px;
}

.createdTask {
  align-items: center;
  height: 70vh;
}


.picture {
  width: 200px;
}

.order-form {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.radio-group {
  display: flex;
  flex-direction: column;
  mat-radio-button {
    padding: 5px;
  }
}

.order-text {
  padding: 5px;
  font-style: italic;
  background-color: #579d48;
}
