<div *ngIf="!isCreatedTask" class="welcome-title">

  <mat-vertical-stepper linear="true">

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Ваши данные</ng-template>

        <mat-form-field *ngIf="universityList$ | async as universityList; else loading">
          <mat-select placeholder="University" formControlName="university">
            <mat-option *ngFor="let university of universityList"
                        [value]="university"> {{university}} </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-template #loading>
          <app-loader diameter="30"></app-loader>
        </ng-template>

        <mat-form-field>
        <input matInput placeholder="Курс" formControlName="course">
      </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Факультет" formControlName="faculty">
        </mat-form-field>

        <div>
          <button mat-button matStepperNext class="common-buttons">Следующий шаг</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Описание работы</ng-template>
        <mat-form-field>
          <input matInput placeholder="Краткое название задания" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Название предмета" formControlName="subject" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Тип работы" formControlName="type">
            <mat-option value="lab"> Лабораторная работа </mat-option>
            <mat-option value="control"> Контрольная работа </mat-option>
            <mat-option value="tipovoy"> Типовой расчет </mat-option>
            <mat-option value="coursovoy"> Курсовая работа </mat-option>
            <mat-option> Другое </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Краткое описание задания" formControlName="description" required>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Полное описание задания" formControlName="specification" required></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" [min]="currentDate" [max]="maxDate"  placeholder="Choose a date" disabled>
          <mat-datepicker-toggle matSuffix  disabled="false" [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
          <div>
          <button mat-button matStepperPrevious class="common-buttons lite">Предыдущий шаг</button>
          <button mat-button matStepperNext class="common-buttons">Следующий шаг</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious class="common-buttons lite">Предыдущий шаг</button>
<!--        <button mat-button (click)="stepper.reset()">Reset</button>-->
        <button mat-button (click)="showOrder()" class="common-buttons">Отправить</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>

<div *ngIf="isCreatedTask" class="flex center column createdTask">
  <p>Задание успешно создано!</p>
  <div *ngIf="taskId">
    Теперь можно зайти на страницу <a [routerLink]="['/tasks/task', taskId]"><strong class="italic">задания</strong></a>
  </div>
</div>
