form {
  max-width: 500px;
  margin: 5px auto;
}
.login-page {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.welcome-buttons {
  display: inline-block;
  background: #333333;
  color: #f4f4f4;
  margin: 5px 0;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  &:disabled {
    cursor: not-allowed;
    color: #f4f4f4;
    opacity: 0.7;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}

.alert {
  display: inline-block;
  padding: 0 16px;
  color: #2afc1c;
  font-weight: bold;
  background: #333333;
}
