form {
  max-width: 500px;
  margin: 0 auto;
}

.welcome-buttons {
  display: inline-block;
  background: #333333;
  color: #f4f4f4;
  margin-top: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  &:disabled {
    cursor: not-allowed;
    color: #f4f4f4;
    opacity: 0.7;
  }
}
