<h1>Очередное дело</h1>
<div *ngIf="task$ | async as task; else loading">
  <div class="flex column">
    <div>Статус: {{task.taskStatus}}</div>
    <div>Имя: {{task.name}}</div>
    <div>Предмет: {{task.subject}}</div>
    <div>Описание задания: {{task.specification}}</div>
    <div>Заказчик: {{task.customer}}</div>
  </div>
  <div *ngIf="task.executor">Исполнитель: {{task.executor}}</div>
</div>
<!--Если исполнитель, то виден следующий блок: -->
<div class="offer">
  Сделать оффер!
</div>
<ng-template #loading>
  <p>loading</p>
</ng-template>

<!--<div *ngIf="posts$ | async as post">-->
<!--  <div class="post">-->
<!--    <div class="header">-->
<!--      <h1>{{post.title}}</h1>-->

<!--      <button-->
<!--        routerLink="/"-->
<!--        class="btn btn-link">На главную-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="info">-->
<!--      <strong>{{post.author}}</strong>-->
<!--      <small>{{post.date | date:'medium'}}</small>-->
<!--    </div>-->
<!--    <quill-view-html [content]="post.text">-->
<!--    </quill-view-html>-->
<!--  </div>-->
<!--</div>-->
