<div *ngIf="task$ | async as task; else loading">
  <h3>Очередное дело</h3>

  <div class="flex">
    <div class="flex column task-params">
      <div>Статус: {{task.taskStatus}}</div>
      <div>
        <mat-icon>person</mat-icon>
        Имя: {{task.name}}</div>
      <div>Предмет: {{task.subject}}</div>
      <div>Описание задания: {{task.specification}}</div>
      <div>Заказчик: {{task.customer}}</div>
      <div>Теги: {{task.keywords}}</div>
      <div *ngIf="task.executor">Исполнитель: {{task.executor}}</div>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon>clear_all</mat-icon>
    </button>
  </div>
  <mat-menu #beforeMenu="matMenu" xPosition="before">

        <button
          mat-menu-item
          class="burger-button"
        >
          <mat-icon>account_circle</mat-icon>
          Account
        </button>
  </mat-menu>

  <hr>

  <div *ngIf="username === task.customer || isAdmin" class="offer-cards">
    <div *ngIf="task.offers.length === 0">Пока нет новых откликов на задание</div>
    <div *ngFor="let offer of task.offers let idx = index" class="card">
      <div class="flex space-between align-items-center">
        <h4>Предложение номер {{idx + 1}}</h4>
        <mat-icon>reorder</mat-icon>
      </div>
      <div>Исполнитель: {{offer.executor}}</div>
      <div>Предложенная цена: {{offer.bid}}</div>
      <div>Комментарий: {{offer.comment}}</div>
      <div>OfferID {{offer.id}}</div>
      <div>{{offer.offerStatus}}</div>
      <div class="flex">
          <button mat-raised-button class="decline" (click)="submitCustomerResponse({offerId: offer.id, answer: 'decline', executor: offer.executor})">Отклонить</button>
          <button mat-raised-button class="accept" (click)="submitCustomerResponse({offerId: offer.id, answer: 'accept', executor: offer.executor})">Принять</button>
      </div>
    </div>
  </div>

  <div *ngIf="isCustomer">
    <div *ngIf="task.customer !== username && task.executor !== username">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="offer">
          <mat-form-field>
            <input
              type="number"
              matInput placeholder="Ценовое предложение"
              formControlName="bid"
              autocomplete="off"
            >
            <span matSuffix>BYN</span>
          </mat-form-field>

          <mat-form-field>
        <textarea
          matInput placeholder="Дополнительный комментарий к предложению"
          formControlName="comment"
          autocomplete="off"
        ></textarea>
          </mat-form-field>
        </div>
        <button mat-button type="submit" class="common-buttons">Отправить предложение</button>
      </form>
    </div>
    <div *ngIf="task.executor === username" class="flex center">
      <div *ngIf="task.taskStatus === 'DONE' else taskFinish">
        Задание завершено!
      </div>
      <ng-template #taskFinish><p>Вы уже выполняете это задание!</p></ng-template>
    </div>
  </div>
</div>

<!--Если исполнитель, то виден следующий блок: -->

<ng-template #loading>
  <app-loader diameter="30"></app-loader>
</ng-template>
