<div class="welcome-title">
  <div class="image-container">
    <img src="../../assets/images/yoda.png" alt="yoda-picture" class="picture">
    <p>
      Привет, студент. Массоны БГУИР приветствуют тебя. Понимаем, что сроки пылают, поэтому кратко расскажем, как это
      работает:
    </p>
    <ol class="main-list">
      <li>Создаешь заявку, где ты максимально подробно описываешь, что тебе нужно</li>
      <li>Студенты твоего или соседнего универа получают твою заявку</li>
      <li>Тебе прилетают предложения о выполнении</li>
      <li>Выбираешь лучшее</li>
      <li>profit!</li>
    </ol>

    <div class="main-page_buttons">
      <button mat-raised-button (click)="openRules()">Правила использования сервиса</button>
      <button mat-raised-button [routerLink]="['/order']">Создать заявку</button>
    </div>
  </div>

</div>
