<div class="welcome-title">
  <div class="image-container">
    <img src="../../assets/images/yoda.png" alt="" class="picture">
    <p>
      Привет, студент. Массоны БГУИР приветствуют тебя. Понимаем, что сроки пылают, поэтому кратко расскажем, как это
      работает:
    </p>
    <ol class="main-list">
      <li>Создаешь заявку, где ты максимально подробно описываешь, что тебе нужно</li>
      <li>Студенты твоего или соседнего универа получают твою заявку</li>
      <li>Тебе прилетают предложения о выполнении</li>
      <li>Выбираешь лучшее</li>
      <li>profit!</li>
    </ol>

    <div class="main-page_buttons">
      <button mat-raised-button>Правила использования сервиса</button>
      <button mat-raised-button>Создать заявку</button>
    </div>
<!--    <mat-list>-->
<!--    <mat-list-item>Создаешь заявку, где ты максимально подробно описываешь, что тебе нужно</mat-list-item>-->
<!--      <mat-list-item>Студенты твоего или соседнего универа получают твою заявку</mat-list-item>-->
<!--      <mat-list-item>Тебе прилетают предложения о выполнении</mat-list-item>-->
<!--      <mat-list-item>Выбираешь лучшее</mat-list-item>-->
<!--      <mat-list-item>profit!</mat-list-item>-->
<!--    </mat-list>-->
  </div>

</div>
