* {
  font-family: 'Roboto Mono', monospace;
  //text-shadow: 1px 1px 2px black, 0 0 1em #4f24a4;
  //font-family: 'Inconsolata', monospace;
  //font-family: 'Indie Flower', cursive;
  //font-family: 'Josefin Sans', sans-serif;
  //font-family: 'Poppins', sans-serif;
  //font-family: 'Slabo 27px', serif;
}

.mat-radio-button {
  //width: 100px;
}

.container {
  overflow: auto;
  max-height: 500px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.filter-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.open-button {
  display: inline-block;
  background: #333333;
  color: #f4f4f4;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 5px 0.5rem 5px 0;
  transition: opacity 0.2s ease-in;
  outline: none;
}

ul {
  li {
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 3px;
  }
}

.task-description {
  justify-content: space-around;
  flex: 1;
}

.active,
.inactive,
.inprogress,
.done {
  opacity: 1;
  &:hover {
    opacity: 0.6;
  }
}

.active {
  background-color: #2e6ba7;
  color: #f4f4f4;
}
.inactive {
  background-color: #666666;
  color: #f4f4f4;
}
.inprogress {
  background-color: #247c6e;
  color: #f4f4f4;
}
.done {
  background-color: #0F9D58;
  color: #f4f4f4;
}
