<!--<app-userlayout-page></app-userlayout-page>-->
<!--<app-profile></app-profile>-->
<div>
  <mat-button-toggle-group
    [value]="visibleTasks"

    name="fontStyle" aria-label="Font Style"
  >
    <mat-button-toggle value="INPROGRESS" (click)="changeStatus('INPROGRESS')">In progress tasks</mat-button-toggle>
    <mat-button-toggle value="ACTIVE" (click)="changeStatus('ACTIVE')">Active tasks</mat-button-toggle>
    <mat-button-toggle value="DONE" (click)="changeStatus('DONE')">Finished tasks</mat-button-toggle>
    <mat-button-toggle value="INACTIVE" (click)="changeStatus('INACTIVE')">Inactive tasks</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="container">

  <div class="tasks-list">
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Deadline</th>
        <th>Manage</th>
      </tr>
      </thead>
      <tbody *ngIf="tasks; else loading">
      <tr *ngFor="let task of tasks | searchTasks:visibleTasks:'taskStatus' ; let id = index">
        <td>{{id + 1}}</td>
        <td>{{task.name}}</td>
        <td>{{task.date | date:'mediumDate'}}</td>
        <td>
          <button class="btn btn-link open" [routerLink]="['/task', task.id]"> Открыть</button>
        </td>
      </tr>
      </tbody>
      <ng-template #loading><app-loader></app-loader></ng-template>
    </table>
  </div>
</div>
