<div>
  <mat-radio-group [value]="visibleTasks" aria-label="Select an option" class="filter-list">
    <div>
      <mat-radio-button value="ALLTASKS" (click)="changeStatus('ALLTASKS')">Все задания</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="INPROGRESS" (click)="changeStatus('INPROGRESS')">В процессе выполнения</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="ACTIVE" (click)="changeStatus('ACTIVE')">Доступные задания</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="DONE" (click)="changeStatus('DONE')">Завершённые задания</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="INACTIVE" (click)="changeStatus('INACTIVE')">Отменённые задания</mat-radio-button>
    </div>
  </mat-radio-group>
</div>
<div>
  <mat-radio-group *ngIf="taskLikeExecutor !== []" [value]="checkedList" aria-label="Select an option" class="filter-list">
    <div>
      <mat-radio-button value="EXECUTOR" (click)="changeList('EXECUTOR')">Исполнитель</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="CUSTOMER" (click)="changeList('CUSTOMER')">Заказчик</mat-radio-button>
    </div>
  </mat-radio-group>
</div>

<div *ngIf="taskLikeCustomer || taskLikeExecutor else tasks">
  <div *ngIf="checkedList === 'CUSTOMER'" class="container">
    <ul *ngFor="let task of taskLikeCustomer | searchTasks:visibleTasks:'taskStatus' " class="tasks-list">
      <li
          [ngClass]="{active: task.taskStatus === 'ACTIVE', done: task.taskStatus === 'DONE', inactive: task.taskStatus === 'INACTIVE', inprogress: task.taskStatus === 'INPROGRESS'}"
      >
        <div>
          <p><span class="italic">Название задания </span> <strong>{{task.name}}</strong></p>
          <p>Краткое описание <strong>{{task.description}}</strong></p>
        </div>
        <button class="open-button" mat-raised-button [routerLink]="['/task', task.secretId]" >Открыть</button>
      </li>
    </ul>
  </div>

<div *ngIf="taskLikeExecutor && checkedList === 'EXECUTOR'" class="container">
  <ul *ngFor="let task of taskLikeExecutor | searchTasks:visibleTasks:'taskStatus' " class="tasks-list">
    <li
      [ngClass]="{active: task.taskStatus === 'ACTIVE', done: task.taskStatus === 'DONE', inactive: task.taskStatus === 'INACTIVE', inprogress: task.taskStatus === 'INPROGRESS'}"
    >
      <div>
        <p><span class="italic">Название задания </span> <strong>{{task.name}}</strong></p>
        <p>Краткое описание <strong>{{task.description}}</strong></p>
      </div>
      <button class="open-button" mat-raised-button [routerLink]="['/task', task.secretId]">Открыть</button>
    </li>
  </ul>
</div>
</div>

<ng-template #loading><app-loader diameter="50"></app-loader></ng-template>
<ng-template #tasks>Нет данных о заданиях</ng-template>
