<div>
  <mat-radio-group [value]="visibleTasks" aria-label="Select an option" class="filter-list">
    <div>
      <mat-radio-button value="ALLTASKS" (click)="changeStatus('ALLTASKS')">All tasks</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="INPROGRESS" (click)="changeStatus('INPROGRESS')">In progress tasks</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="ACTIVE" (click)="changeStatus('ACTIVE')">Active tasks</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="DONE" (click)="changeStatus('DONE')">Finished tasks</mat-radio-button>
    </div>
    <div>
      <mat-radio-button value="INACTIVE" (click)="changeStatus('INACTIVE')">Inactive tasks</mat-radio-button>
    </div>
  </mat-radio-group>
</div>

<div *ngIf="taskLikeCustomer" class="container">
  <ul *ngFor="let task of taskLikeCustomer | searchTasks:visibleTasks:'taskStatus' " class="tasks-list">
    <li appDropdown
      [ngClass]="{active: task.taskStatus === 'ACTIVE', done: task.taskStatus === 'DONE', inactive: task.taskStatus === 'INACTIVE', inprogress: task.taskStatus === 'INPROGRESS'}"
    >
      <div>
        <p>{{task.name}}({{task.taskStatus | lowercase}})</p>
        <p>Task description: {{task.description}}</p>
      </div>
      <button mat-button [routerLink]="['/task', task.secretId]">Открыть</button>
    </li>
  </ul>
</div>

<div *ngIf="taskLikeExecutor else loading" class="container">
  <ul *ngFor="let task of taskLikeExecutor | searchTasks:visibleTasks:'taskStatus' " class="tasks-list">
    <li
      [ngClass]="{active: task.taskStatus === 'ACTIVE', done: task.taskStatus === 'DONE', inactive: task.taskStatus === 'INACTIVE', inprogress: task.taskStatus === 'INPROGRESS'}"
    >
      <div class="flex task-description">
        <p>{{task.name}}({{task.taskStatus | lowercase}})</p>
        <p>Task description: {{task.description}}</p>
      </div>
      <button mat-button [routerLink]="['/task', task.secretId]">Открыть</button>
    </li>
  </ul>
</div>

<ng-template #loading><app-loader diameter="50"></app-loader></ng-template>
