<div class="test-dialog">
  <mat-form-field class="message-search">
    <label for="search">
      <input matInput id="search" placeholder="Search" autocomplete="off" [(ngModel)]="searchValue">
    </label>
  </mat-form-field>
</div>

<div class="dialogs-list" *ngIf="dialogs$ | async as dialogs; else loading">
  <div class="dialog" *ngFor="let dialog of dialogs | searchDialog:searchValue" (click)="goToDialog(dialog.id)">
    <h5>TOMMY</h5>
    <small class="dialog-theme">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, libero?</small>
    <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, libero?</p>
  </div>

  <div class="dialog">
    <h5>JIMMY</h5>
    <small class="dialog-theme">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, libero?</small>
    <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, libero?</p>
  </div>

  <div class="dialog">
    <h5>JESSICA</h5>
    <small class="dialog-theme">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, libero?</small>
    <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, libero?</p>
  </div>
</div>

<ng-template #loading>
  <app-google-loader *ngIf="isLoading"></app-google-loader>
</ng-template>

  <button routerLink="1">Test</button>
