.recovery-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 5px 0;
  }
  button {
    margin-left: 5px;
    background: #333333;
    color: #f4f4f4;
    &:disabled {
      cursor: not-allowed;
      color: #f4f4f4;
      opacity: 0.7;
    }
  }
}
