<div>
<!--  Почему-то !loading не работает -->
  <div class="top">
    <app-profile [user]="user" class="flex"></app-profile>
  </div>
  <div class="flex center">
    <mat-button-toggle-group [value]="currentComponent" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="tasks" (click)="currentComponent = 'tasks'">Задания</mat-button-toggle>
      <mat-button-toggle value="offers" (click)="currentComponent= 'offers'">Предложения о выполнении</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="tasksLikeCustomer || tasksLikeExecutor else loading">
    <app-user-tasks-lists *ngIf="currentComponent === 'tasks' else offerList" [taskLikeCustomer]="tasksLikeCustomer"
                          [taskLikeExecutor]="tasksLikeExecutor"></app-user-tasks-lists>
  </div>
</div>

<ng-template #offerList>
  <app-offers-list [offers]="offers"></app-offers-list>
</ng-template>
<ng-template #loading><app-loader diameter="50"></app-loader></ng-template>
